<h1>Drivers#new</h1>

<!-- display stuff from drivers_controllers -->

<%= form_for @driver do |f| %>
<div>
	<%= f.label :first_name %><br>
	<%= f.text_field :first_name %><br>	
</div>

<div>
	<%= f.label :last_name %><br>
	<%= f.text_field :last_name %><br>	
</div>
<%= f.submit %>
<% end %>
